extends template/layout.pug

block content
    div(class="container my-5")
      div(class="row")
        div(class="col-6 col-md-8 mx-auto")
          form(class="container py-3" action="/restaurants" method="POST")
            h4(class="text-center mb-2") 輸入您要新增的餐廳的資訊！
            div(class="row pl-3")
              span(class="my-3 mx-2 pt-1") 店名
              input(class="col-4 my-3 mx-2" type="text" name="name" required)
              span(class="my-3 mx-2 pt-1") 英文店名
              input(class="col-4 my-3 mx-2" type="text" name="name_en")
            div(class="row pl-3")
              span(class="my-3 mx-2 pt-1") 電話
              input(class="col-3 my-3 mx-2" type="text" name="phone" required)
              span(class="my-3 mx-2 pt-1") 給個評分吧!
              input(class="col-4 my-3 mx-2" type="range" name="rating" min="0" max="5" step="1" value="0")
            div(class="row pl-3")
              span(class="my-3 mx-2 pt-1") 地址
              input(class="col-6 my-3 mx-2" type="text" name="location" required)
              span(class="my-3 mx-2 pt-1") 餐廳種類
              input(class="col-2 my-3 mx-2" type="text" name="category" required)
            div(class="row pl-3")
              span(class="my-3 mx-2 pt-1") 圖片連結  
              input(class="col-9 my-3 mx-2" type="text" name="image" required)
            div(class="row pl-3")
              span(class="my-3 mx-2 pt-1") Google Map 連結  
              input(class="col-8 my-3 mx-2" type="text" name="google_map")
            div(class="row pl-3")
              div(class="my-3 mx-2") 餐廳簡介
              textarea(class="col-9 my-3 mx-2" name="description" maxlength="200")
            div(class="mt-2 row pl-3 justify-content-center")
              button(id="create-button" type="submit") 新增餐廳
